<!DOCTYPE html>
<html ng-app="designer" ng-controller="ctrl">
   <head>
      <title>HDL designer</title>
      <link rel="stylesheet" type="text/css" href="//codemirror.net/lib/codemirror.css"/>
      <link rel="stylesheet" type="text/css" href="css/designer.css">
      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
      <script src="//codemirror.net/lib/codemirror.js"></script>
      <script src="//codemirror.net/mode/vhdl/vhdl.js"></script>
      <script src="//codemirror.net/addon/display/autorefresh.js"></script>
      <script src="//rawgithub.com/angular-ui/ui-codemirror/bower/ui-codemirror.min.js"></script>
      <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.2.js"></script>
      <script src="/lib/angular-file-saver.bundle.min.js"></script>
   </head>
   <body>
      <div class="list-area">
         <ul>
            <li><a href="#"><img src="images/config.svg">HDL designer</a></li>
            <li><a href="#"><img src="images/pencil.svg">CPU designer</a></li>
            <li><a href="#"><img src="images/folder.svg">Instructions designer</a></li>
            <ul style="float:right;">
               <li><a href="#"><img src="images/medal.svg">About</a></li>
               <li><a href="#" ng-click="open('lg')"><img src="images/map.svg">Contact</a></li>
            </ul>
         </ul>
      </div>
      <section>
         <div ui-codemirror="{
            lineNumbers: true,
            lineWrapping : true,
            mode: 'vhdl'
            }" ng-model="code" ng-change="codeChange()" class="editor-window" resize></div>
      </section>
      <div class="property-window">
         <uib-tabset active="active">
            <uib-tab index="0" heading="Control signals">
               <div class="fsm-window">
                  <uib-accordion close-others="oneAtATime">
                     <uib-accordion-group ng-repeat="(name, svg) in outputs" is-open="status.open">
                        <uib-accordion-heading>
                           {{name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <button type="button" class="btn btn-info" ng-click="vm.download(svg)" ng-controller="svgSaveCtrl as vm">Download SVG</button>
                        <div class="svg">
                           <svg-img content="{{svg}}"></svg-img>
                        </div>
                     </uib-accordion-group>
               </div>
               </uib-accordion>
            </uib-tab>
            <uib-tab index="1" heading="State machine">
               <div class="fsm-window">
                  <uib-accordion close-others="oneAtATime">
                     <uib-accordion-group ng-repeat="(fsm, assigns) in fsms" is-open="status.open">
                        <uib-accordion-heading>
                           {{fsm}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <button type="button" class="btn btn-info" ng-click="vm.download(assigns.svg)" ng-controller="svgSaveCtrl as vm">Download SVG</button>
                        <div class="svg">
                           <svg-img content="{{assigns.svg}}"></svg-img>
                        </div>
                     </uib-accordion-group>
               </div>
               </uib-accordion>
            </uib-tab>
            <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
               {{tab.content}}
            </uib-tab>
         </uib-tabset>
      </div>
      <div class="footer-window">
         <img src="/images/modelchip333.png">
      </div>
      <div>
         <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Contact</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            </div>
         </script>
      </div>
      <script src="/lib/hdl_designer.js"></script>
   </body>
</html>
